{% extends '::base.html.twig' %}

{% block header %}
    {% include 'BlogAdminBundle:Index:register-signin-header.html.twig' %}
{% endblock %}

{% block container %}

<form id="login-form" name="login" method="post">
    <h2 {% if errorMessage %}class="no-margin"{% endif %}>Sign In</h2>

    {% if errorMessage %}
    <p class="error-message">
        {{ errorMessage }}
    </p>
    {% endif %}

    {{ form_row(form._token) }}
    <fieldset>
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'placeholder': 'Email Address' }}) }}
    </fieldset>

    <fieldset>
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
    </fieldset>

    <fieldset>
        {{ form_widget(form.keep_me) }}
        {{ form_label(form.keep_me, null, {'label_attr': {'class': 'register-signin-checkbox'}}) }}
        <a href="{{ path('admin_forgot') }}" class="forgotPassword">Forgot password?</a>
    </fieldset>

    <button type="submit">Sign In</button>
</form>

{% endblock %}

{% block footer %}{% endblock %}