<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %} Marko Jankovic Blog {% endblock %}</title>
        <!-- compiled css -->
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/blogadmin/img/favicon.ico') }}"/>
        {% block stylesheets %}
            <link href="{{ asset('bundles/admin/css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>

    <body id="{% block bodyClass %}{{actionName}}{% endblock %}">

        {% block header %}
        <div id="header">
            <img width="70" src="{{ asset('bundles/admin/img/asterisk.png') }}">

            <h1>Marko Jankovic Blog</h1>
        </div>
        {% endblock %}

        <div class="wrapper">

            {% block container %}
            <div id="container"></div>
            {% endblock %}
        </div>

        {% block footer %}
        <div id="footer">
            footer

            {% block javascript %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script src="{{ asset('bundles/blogadmin/js/main.js') }}"></script>
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
