{% extends '::base.html.twig' %}

{% block header %}
    <div id="header" class="register-signin-header">
        <a href="{{ path('admin_user_register') }}">Create an Account</a>
        or
        <a href="{{ path('admin_user_login') }}">Login</a>
    </div>
{% endblock %}

{% block container %}
    {{ include('AdminBundle::_shared/admin_navigation.html.twig') }}

    <div id="content">
        <h2>Users</h2>
        <a href="{{ path('admin_user_create') }}" class="button-add">Create User</a>

        <ul>
            {% for user in users %}
                <li>
                    <span>{{ user.username }}</span>

                    <p>
                        <a href="{{ path('admin_user_edit', {'id': user.id }) }}">
                            edit
                        </a>
                        <a onclick="confirmDelete('{{ path('admin_user_delete', {'id': user.id }) }}')" href="#">
                            delete
                        </a>
                    </p>
                </li>
            {% endfor %}
        </ul>

        <script>
            var confirmDelete = function (url) {

                var answer = confirm("Da li ste sigurni?");
                if (answer) {
                    location = url;
                }
            };
        </script>
    </div>

{% endblock %}

{% block footer %}{% endblock %}