{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div id="content">

        {% if user %}
            <h2>Edit user: {{ user.username }}</h2>
            <a href="{{ path('admin_user_delete', {'id': user.id }) }}" class="button-add">Delete User</a>

            <span>{{ user.username }}</span>

            <p>
                {{ user.username }}
            </p>
        {% else %}
            <h2>Create user</h2>
            <a href="{{ path('admin_user_create') }}" class="button-add">Create new User</a>
        {% endif %}
    </div>

{% endblock %}