{% extends 'FrontBundle::layout.html.twig' %}

{% block content %}
    <div id="content">

        <h2>{{ post.title }}</h2>

        <article class="post">
            <header>
                <span class="status">PUBLISHED</span> by
                <a href="{{ path('front_author_show', {'slug': post.author.slug}) }}">
                    {{ post.author.name }}
                </a>
                <time datetime="{{ post.createdAt | date('c') }}">
                    ({{ post.createdAt | date }})
                </time>

                - <a class="comments" href="{{ path('front_posts_show', {'slug': post.slug }) }}#post-comments">
                    {% set count = post.comments | length %}
                    {{ count }} Comments
                </a>
            </header>

            <br>

            <p class="entry">{{ post.body}}</p>
        </article>

        <br>

        <div id="post-comments">
            <h3>Comments</h3>
            {% for comment in post.comments %}
                {{ include('FrontBundle:Posts:comment.html.twig', {comment: comment}) }}
            {% endfor %}

            <br>
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            {% endfor %}
            <h4>Leave a Comment</h4>
            {{ form(form, { action: path('front_post_create_comment', {slug: post.slug}) }) }}
        </div>

    </div>
{% endblock %}