{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <h2>All Posts</h2>
        <a href="{{ path('admin_post_create') }}" class="button-add top-btn">Create Post</a>

        {% for post in posts %}
            <article class="post">
                <header>
                    <h3>
                        <a href="{{ path('admin_post_show', {'slug': post.slug }) }}">{{ post.title }}</a>
                    </h3>

                    <a href="{{ path('admin_user_account', {'id':  post.user.id})}}">
                       {{ post.user.username }}
                    </a>
                </header>
                <p class="entry">{{ post.body | truncate(150) }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}