{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div id="content">

        <h2>{{ post.title }}</h2>

        <div class="post-actions">
            <a href="{{ path('admin_post_edit', {'id': post.id }) }}">edit</a>
            <a href="{{ path('admin_post_delete', {'id': post.id }) }}">delete</a>
        </div>

        <article class="post">
            <header>
                <a href="{{ path('admin_author_show', {'slug': post.author.slug}) }}">
                    {{ post.author.name }}
                </a>
            </header>

            <br>

            <p class="entry">{{ post.body}}</p>
        </article>
    </div>
{% endblock %}