{% extends 'AdminBundle::layout.html.twig' %}

{% block header %}
    <div id="header" class="register-signin-header">
        <a href="{{ path('admin_user_register') }}">Create an Account</a>
        or
        <a href="{{ path('admin_user_login') }}">Login</a>
    </div>
{% endblock %}

{% block container %}

    <form id="register-form" name="register" method="post" action="">
        <h2>Register</h2>

        {{ form_errors(form) }}

        <fieldset>
            {{ form_label(form.username, null, {'label': 'Username*'}) }}
            {{ form_widget(form.username, {'attr': {'placeholder': 'Username' }}) }}
        </fieldset>

        <fieldset>
            {{ form_label(form.email, null, {'label': 'Email*'}) }}
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email' }}) }}
        </fieldset>

        <fieldset>
            {{ form_label(form.plainPassword, null, {'label': 'Password*'}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password (6 characters minimum)' }}) }}
        </fieldset>

        <fieldset>
            {{ form_label(form.plainPassword, null, {'label': 'Confirm Password*'}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirm Password' }}) }}
        </fieldset>

        {{ form_rest(form) }}

        <button type="submit">Register</button>
    </form>

{% endblock %}