{% extends 'AdminBundle::layout.html.twig' %}

{% block header %}
    <div id="header" class="register-signin-header">
        <a href="{{ path('admin_user_register') }}">Create an Account</a>
        or
        <a href="{{ path('admin_user_login') }}">Login</a>
    </div>
{% endblock %}

{% block container %}

    <form id="register-form" name="register" method="post" action="" novalidate>
        <h2 {% if errors %}class="no-margin"{% endif %}>Register</h2>

        {{ showFormError(errors)}}

        <fieldset>
            {{ form_label(form.username, 'Username*') }}
            {{ form_widget(form.username, {'attr': {'placeholder': 'Username' }}) }}
        </fieldset>

        <fieldset>
            {{ form_label(form.email, 'Email*') }}
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email' }}) }}
        </fieldset>

        <fieldset>
            {{ form_label(form.plainPassword, 'Password*') }}
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password (6 characters minimum)' }}) }}
        </fieldset>

        <fieldset>
            {{ form_label(form.plainPassword, 'Confirm Password*') }}
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirm Password' }}) }}
        </fieldset>

        {{ form_rest(form) }}

        <button type="submit">Register</button>
    </form>

{% endblock %}