<article class="post">
    <header>
        <span class="status">PUBLISHED</span> by
        <a href="{{ path('admin_author_show', {'slug': post.author.slug}) }}">
            {{ post.author.name }}
        </a>
        <time datetime="{{ post.createdAt | date('c') }}">
            ({{ post.createdAt | date }})
        </time>
        <h3>
            <a href="{{ path('admin_post_show', {'slug': post.slug }) }}">{{ post.title }}</a>
        </h3>
    </header>
    <p class="entry">{{ post.body | truncate(150) }}</p>
</article>