{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endfor %}

{% if posts is iterable %}
    <h2>All Posts</h2>
{% else %}
    <h2>Post: {{ posts.title }}</h2>
{% endif %}

<a href="{{ path('admin_post_new') }}" class="button-add">Create new Post</a>

{% if posts is iterable %}

    {% for post in posts %}
        {% include 'BlogAdminBundle:Index:posts/item.html.twig' with {post: post} %}
    {% endfor %}

{% else %}

    <div class="post-actions">
        <a href="{{ path('admin_post_edit', {'id': posts.id }) }}">edit</a>
        <a href="{{ path('admin_post_edit', {'id': posts.id }) }}">delete</a>
    </div>
    {% include 'BlogAdminBundle:Index:posts/item.html.twig' with {post: posts} %}

    <br>
    <div id="post-comments">
        <h4>Comments</h4>
        {% for comment in posts.comments %}
            {{ include('BlogAdminBundle:Index:posts/comment.html.twig', {comment: comment}) }}
        {% endfor %}
    </div>

    <br>

    <h4>Leave a Comment</h4>
    {{ form(form, { action: path('admin_post_create_comment', {slug: posts.slug}) }) }}

{% endif %}