{% extends '::base.html.twig' %}


{% block header %}
    <div id="header" class="register-signin-header">
        <a class="signout" href="{{ path('admin_user_logout') }}">Log Out: {{ app.user.username }}</a>
    </div>
{% endblock %}

{% block container %}
    <div id="navigation">
        <h1>Settings</h1>
        <ul>
            <li>
                <a href="{{ path('admin_profile') }}" {{ isActive(app, "admin_profile") }}>
                    Profile
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_user') }}" {{ isActive(app, "admin_user") }}>
                        Users
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('admin_user_account', {id: getUserId(app)}) }}" {{ isActive(app, "admin_user") }}>
                        Account
                    </a>
                </li>
            {% endif %}

            <li>
                <a href="{{ path('admin_post') }}" {{ isActive(app, "admin_post") }}>
                    Posts
                </a>
            </li>

            <li>
                <a href="{{ path('admin_category') }}" {{ isActive(app, "admin_category") }}>
                    Categories
                </a>
            </li>

            <li>
                <a href="{{ path('admin_comments') }}" {{ isActive(app, "admin_comments") }}>
                    Comments
                </a>
            </li>
            <li>
                <a href="{{ path('admin_settings') }}" {{ isActive(app, "admin_settings") }}>
                    Settings
                </a>
            </li>
        </ul>
    </div>

    {% block content %}
        <div id="content">
            Default
        </div>
    {% endblock %}


{% endblock %}

{% block footer %}{% endblock %}