<div id="navigation">
    <h1>Settings</h1>
    <ul>
        <li>
            <a href="{{ path('admin_profile') }}" {% if app.request.get('_route') == 'admin_profile' %} class="active"{% endif %}>
                Profile
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('admin_user') }}" {% if app.request.get('_route') == 'admin_user' %} class="active"{% endif %}>
                Users
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{{ path('admin_post') }}" {% if app.request.get('_route') == 'admin_post' %} class="active"{% endif %}>
                Posts
            </a>
        </li>

        <li>
            <a href="{{ path('admin_category') }}" {% if app.request.get('_route') == 'admin_category' %} class="active"{% endif %}>
                Categories
            </a>
        </li>

        <li>
            <a href="{{ path('admin_comments') }}" {% if app.request.get('_route') == 'admin_comments' %} class="active"{% endif %}>
                Comments
            </a>
        </li>
        <li>
            <a href="">
                General
            </a>
        </li>
    </ul>
</div>